body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url("bg.jpg") no-repeat center center/cover;
    overflow:hidden;
}

.heart-container{
    width:600px;
    height:600px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("https://suret.pics/uploads/posts/2023-09/1695388430_1-2.jpg");
}

.heart-svg{
    width:600px;
    height:600px;
}

/* Yurak */
.heart-path{
    fill:none;
    stroke:#ff0000;
    stroke-width:4;

    stroke-linecap:round;
    stroke-linejoin:round;

    filter:
    drop-shadow(0 0 5px #d4c4c4)
    drop-shadow(0 0 10px #ff0000)
    drop-shadow(0 0 20px #beb7b7)
    drop-shadow(0 0 40px #ff0000);

    stroke-dasharray:1500;
    stroke-dashoffset:1500;

    animation:
    draw 4s linear forwards,
    glow 2s ease-in-out infinite alternate;
}

/* Yozuv */
.heart-text{
    fill:#f7f3f3;
    font-size:40px;
    font-weight:bold;
    font-family:Arial, sans-serif;

    opacity:0;

    filter:
    drop-shadow(0 0 5px #ff0000)
    drop-shadow(0 0 10px #ff0000)
    drop-shadow(0 0 20px #ff0000);

    animation: textAppear 2s ease forwards;
    animation-delay:4s;
}

/* Yurak chizilishi */
@keyframes draw{
    to{
        stroke-dashoffset:0;
    }
}

/* Glow */
@keyframes glow{
    from{
        filter:
        drop-shadow(0 0 5px #ff0000)
        drop-shadow(0 0 10px #ff0000)
        drop-shadow(0 0 20px #ff0000);
    }
    to{
        filter:
        drop-shadow(0 0 10px #ff0000)
        drop-shadow(0 0 30px #ff0000)
        drop-shadow(0 0 60px #ff0000)
        drop-shadow(0 0 100px #ff0000);
    }
}

/* Yozuv chiqishi */
@keyframes textAppear{
    from{
        opacity:0;
        transform:scale(0.5);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
